*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
p {
    line-height: 1.7;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.form-control:focus {
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    border-color: rgb(134, 183, 254);
    outline: 0px;
    box-shadow: none;
}
header{
    z-index: 999;
    position:sticky;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 100px;
    transition: 0.3s;
  }
  header.sticky{
    background-color: #fff;
    -webkit-box-shadow: 0 10px 10px -10px rgb(33 43 53 / 10%);
    box-shadow: 0 10px 10px -10px rgb;
    
  }
  .nav-item{
    padding: 0 10px;
  }
  .nav-item a{
    font-size: 18px;
    font-weight: 300;
    color: #777D87
  }
  .right-btn button{
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #F42E14;
    text-transform: uppercase; 
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .right-btn button:hover{
    background-color: #08104D;
    color: #fff;
  }
/* hero-section */
.hero-section{
    background: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    

}
.hero-content{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play-btn i{
    background: #F42E14;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
  }
.hero-title h1{
    font-weight: 600;
    font-size: 60px;
    color: #1a1a1a;
    margin-bottom: 28px;

}

.text-color{
    color:#11A527;
}
.hero-search form{
    display: flex;
}
.hero-search input{
    padding: 12px;
    border-radius: 5px;
    border: none;
    border: 1px solid #11A527;
}
.hero-search input:focus{
    outline: none;
}
.hero-search button{
    text-transform: uppercase;
    padding: 12px;
    border-radius: 5px;
    border: none;
    border: 1px solid #11A527;
    background: linear-gradient(90deg, #0ba324 0%, #7cd160 62%);
    transition: all 0.6s;
}
.hero-search button:hover{
    background: linear-gradient(270deg, #1a1a1a 0%, #1a1a1a 62%);
    color: #fff
}

/* Feature section */
.ride-feature-area {
    padding-top: 70px;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 0px 20px 0px #ddd;
    box-shadow: 0px 0px 20px 0px #ddd;
    position: relative;
    text-align: center;
    background-color: #ffffff;
}
.ride-feature-area .feature-shape img {
    position: absolute;
    max-width: 100%;
}
.ride-feature-area .feature-shape img:nth-child(1) {
    top: 60px;
    left: 0;
    z-index: -1;
}
.ride-feature-area .feature-shape img:nth-child(2) {
    top: 75px;
    right: 0;
    z-index: -1;
}
.ride-feature-area .col-lg-2 .feature-item {
    margin-bottom: 30px;
}
.ride-feature-area .col-lg-2 .feature-item .feature-icon {
    position: relative;
    left: 8px;
    top: 8px;
    display: inline-block;
}
.col-lg-2 .feature-item .feature-icon i {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 20px 0px #ddd;
    box-shadow: 0px 0px 20px 0px #ddd;
    border-radius: 3px;
    color: #403e3e;
    text-align: center;
    font-size: 35px;
    position: relative;
    z-index: 1;
}
.ride-feature-area .col-lg-2 .feature-item span {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #613131;
    max-width: 125px;
    position: relative;
    top: 10px;
    left: 15px;
    text-align: left;
}
.ride-feature-area .col-lg-2 .feature-item .feature-icon:after {
    position: absolute;
    content: '';
    width: 65px;
    height: 65px;
    left: -8px;
    top: -8px;
    border-radius: 3px;
    background-color: #d1e5f4;
}
/* Service Section */
.ride-service-area {
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
    overflow: hidden;
}
.ride-service-area .service-shape img {
    position: absolute;
}
.ride-service-area .service-shape img:nth-child(1) {
    top: 100px;
    left: -95px;
    z-index: -1;
    -webkit-animation: host-ani-eight 15s infinite linear;
    animation: host-ani-eight 15s infinite linear;
}
.ride-service-area .service-shape img:nth-child(2) {
    right: 200px;
    top: 180px;
    z-index: -1;
    -webkit-animation: ride-ani-two 35s infinite linear;
    animation: ride-ani-two 35s infinite linear;
}
.ride-service-area .service-shape img:nth-child(3) {
    right: 70px;
    top: 20%;
    z-index: -1;
    -webkit-animation: ride-ani-one 12s infinite linear;
    animation: ride-ani-one 12s infinite linear;
}
.ride-service-area .service-shape img:nth-child(4) {
    right: 70px;
    bottom: 100px;
    z-index: -1;
    -webkit-animation: ride-ani-three 15s infinite linear;
    animation: ride-ani-three 15s infinite linear;
}
.ride-section-title {
    text-align: center;
    margin-bottom: 50px;
}
.ride-section-title .sub-title {
    font-weight: 500;
    font-size: 13px;
    color: #fa4a16;
    padding: 12px 22px;
    border-radius: 30px;
    background-color: #fddad0;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.ride-service-area>.ride-section-title h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 45px;
    color: #1a1a1a;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}
.ride-service-area>.ride-section-title h2 span {
    color: #fa4915;
}
.ride-service-area .service-item .service-top span {
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    color: #8058e6;
    margin-bottom: 5px;
}
.ride-service-area .service-item .service-top h2 {
    font-weight: 600;
    font-size: 28px;
    color: #1a1a1a;
    margin-bottom: 10px;
}
.ride-service-area .service-item .service-top p {
    margin-bottom: 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #e9e9e9;
}
.ride-service-area .service-item .service-bottom {
    padding-top: 25px;
    position: relative;
}
.ride-service-area .service-item .service-bottom i {
    display: inline-block;
    height: 60px;
    width: 70px;
    line-height: 65px;
    border-radius: 3px;
    color: #37b34b;
    background-color: #dbf1df;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 0;
}
.ride-service-area .service-item .service-bottom p {
    margin-bottom: 0;
    color: #606060;
    padding-left: 90px;
    position: relative;
    top: 3px;
}
.ride-service-area .service-item .service-bottom p a {
    display: inline-block;
    color: #fa4915;
    border-bottom: 1px solid #fa4915;
}
.ride-service-area .service-wrap-two .service-item .service-top span {
    color: #fb5924;
}
.ride-service-area .service-wrap-two .service-item .service-bottom i {
    color: #8152f8;
    background-color: #e6dcfe;
}
.service-wrap-three .service-item .service-bottom i {
    color: #fc6a37;
    background-color: #fee0d5;
}
/* Rider Section */
.ride-register-area .ride-section-title .sub-title {
    color: #0fa426;
    background-color: #ceecd3;
}
.ride-register-area .ride-section-title .sub-title {
    color: #0fa426;
    background-color: #ceecd3;
}
.ride-register-area .ride-section-title h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 40px;
    color: #1a1a1a;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}
.ride-register-area .ride-section-title h2 span {
    color: #0fa426;
}
.ride-register-area .register-item {
    margin-bottom: 30px;
    text-align: center;
    padding: 35px 35px 250px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0px 0px 35px 0px #dddddd94;
    box-shadow: 0px 0px 35px 0px #dddddd94;
    background: linear-gradient(180deg, #d1daff 0%, #fcfcfd 72%);
}
.ride-register-area .register-two {
    background: unset;
    background-color: #ffffff;
}
.ride-register-area .register-item h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 12px;
}
.ride-register-area .register-item p {
    margin-bottom: 15px;
    color: #767676;
    font-size: 15px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.ride-register-area .register-item a {
    font-weight: 500;
    font-size: 15px;
    color: #f55422;
    display: inline-block;
}
.ride-register-area .register-item a i {
    font-size: 19px;
    position: relative;
    top: 4px;
}
.ride-register-area .register-item img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/* Subscriber */
.ride-subscribe-area {
    padding-top: 70px;
    padding-bottom: 75px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fa4612), color-stop(72%, #fc6731));
    background: linear-gradient(180deg, #fa4612 0%, #fc6731 72%);
    position: relative;
    overflow: hidden;
}
.ride-subscribe-area .subscribe-shape img {
    position: absolute;
}
.ride-subscribe-area .subscribe-shape img:nth-child(1) {
    left: 100px;
    top: 0;
}
.ride-subscribe-area .subscribe-shape img:nth-child(2) {
    right: 40px;
    top: 0;
}
.ride-subscribe-area .subscribe-item h2 {
    font-weight: 600;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.ride-subscribe-area .subscribe-item .newsletter-form {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 200px;
    position: relative;
}
.ride-subscribe-area .subscribe-item .newsletter-form .form-control {
    height: 55px;
    border-radius: 3px;
    border: 0;
    background-color: #ff7c56;
    padding-left: 20px;
    font-size: 16px;
}
.ride-subscribe-area .subscribe-item .newsletter-form .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}
.ride-subscribe-area .subscribe-item .newsletter-form .newsletter-btn {
    font-weight: 500;
    font-size: 15px;
    padding: 15px 22px;
    position: relative;
    opacity: 1;
    border-radius: 3px;
    z-index: 1;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid #4ebe47;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
}
.ride-subscribe-area .subscribe-item .newsletter-form .newsletter-btn:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 3px;
    z-index: -1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: -webkit-gradient(linear, left top, right top, from(#0ba324), color-stop(80%, #86d564));
    background: linear-gradient(90deg, #0ba324 0%, #86d564 80%);
}
/* Footer Section */
.host-footer-area .footer-item {
    margin-bottom: 30px;
}
.host-footer-area .footer-item .footer-account h3 {
    font-weight: 600;
    font-size: 20px;
    color: #08104d;
    margin-bottom: 35px;
}
.host-footer-area .footer-item .footer-account ul {
    margin: 0;
    padding: 0;
}
.host-footer-area .footer-item .footer-account ul li {
    list-style-type: none;
    display: block;
    margin-bottom: 10px;
}
.host-footer-area .footer-item .footer-account ul li a {
    display: block;
    font-size: 16px;
    color: #08104d;
}
.host-footer-area .footer-item .footer-address h3 {
    font-weight: 600;
    font-size: 20px;
    color: #08104d;
    margin-bottom: 35px;
}
.host-footer-area .footer-item .footer-address ul li {
    list-style-type: none;
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 35px;
}
.host-footer-area .footer-item .footer-address ul li i {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    margin-right: 5px;
    color: #f42e14;
    font-size: 20px;
}
.ride-copyright-area {
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ride-copyright-area .copyright-item p {
    margin-bottom: 0;
    font-size: 14px;
    color: #5d617a;
}
.ride-copyright-area .copyright-item p a {
    color: #5d617a;
    display: inline-block;
}
.ride-copyright-area .copyright-item ul {
    margin: 0;
    padding: 0;
    text-align: right;
}
.ride-copyright-area .copyright-item ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 3px;
}
.ride-copyright-area .copyright-item ul li a {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 32px;
    border-radius: 50%;
    color: #f42e14;
    background-color: #f42e1433;
    text-align: center;
    position: relative;
    z-index: 1;
}
.host-footer-area .footer-item .footer-address ul li a {
    font-size: 16px;
    color: #08104d;
    display: inline-block;
}
.ride-copyright-area .copyright-item ul li a:hover {
    color: #ffffff;
    background-color: #f42e14;
}
/* Download Section */
.ride-download-area {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 45px 0px #dddddda8;
    box-shadow: 0px 0px 45px 0px #dddddda8;
    position: relative;
}
.ride-download-area .download-shape img {
    position: absolute;
    bottom: 50px;
    left: 50px;
    -webkit-animation: ride-ani-four 16s infinite linear;
    animation: ride-ani-four 16s infinite linear;
}
.ride-download-area .download-content {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 745px;
    margin-left: auto;
    position: relative;
    z-index: 1;
}
.ride-download-area .download-item .ride-section-title {
    text-align: left;
    margin-bottom: 15px;
}
.ride-download-area .download-item p {
    margin-bottom: 25px;
}
.ride-download-area .download-item .ride-section-title h2 {
    font-size: 35px;
    max-width: 500px;
    margin-left: 0;
}
.ride-download-area .download-item .ride-section-title h2 span {
    color: #0fa426;
}
.ride-download-area .download-item .ride-section-title .sub-title {
    color: #0fa426;
    background-color: #cfedd4;
}
.ride-download-area .download-item p {
    margin-bottom: 25px;
    color: #777777;
}
.ride-download-area .download-item ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
}
.ride-download-area .download-item ul li a {
    display: block;
}
.ride-download-area .download-img {
    background-image: url(../img/download5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.ride-download-area .download-img img {
    position: absolute;
}
.ride-download-area .download-img img:nth-child(1) {
    left: -250px;
    top: 60px;
}
.ride-download-area .download-img img:nth-child(2) {
    left: -150px;
    top: -107px;
}
/* process */
.ride-process-area {
    position: relative;
}

.ride-process-area .ride-section-title .sub-title {
    color: #8152f9;
    background-color: #e5dcfd;
}
.ride-process-area .ride-section-title h2 span {
    color: #8152f9;
}
.ride-process-area .process-img img {
    position: absolute;
    left: 52px;
    right: 0;
    bottom: 241px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}
.ride-process-area .process-item {
    margin-bottom: 30px;
    text-align: center;
}
.ride-process-area .process-item span {
    display: block;
    font-weight: 600;
    font-size: 70px;
    color: #e3e3e3;
    margin-bottom: 15px;
}
.ride-process-area .process-item .process-icon {
    position: relative;
}
.ride-process-area .process-item .process-icon img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 17px;
    margin-left: auto;
    margin-right: auto;
}
.ride-process-area .process-item .process-icon i {
    width: 160px;
    height: 160px;
    line-height: 135px;
    border-radius: 50%;
    font-size: 60px;
    color: #ffffff;
    border: 15px solid #ffe3df;
    margin-bottom: 30px;
    background: linear-gradient(180deg, #fa4612 0%, #fc6630 54%);
}
.ride-process-area .process-item p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 23px;
    color: #262424;
}
.ride-process-area .process-two {
    margin-top: 50px;
}
.ride-process-area .process-item span {
    display: block;
    font-weight: 600;
    font-size: 70px;
    color: #e3e3e3;
    margin-bottom: 15px;
}
.ride-process-area .process-two .process-icon i {
    background: linear-gradient(180deg, #0ca325 0%, #85d464 60%);
    border: 15px solid #e9f3eb;
}
.ride-process-area .process-item span {
    display: block;
    font-weight: 600;
    font-size: 70px;
    color: #e3e3e3;
    margin-bottom: 15px;
}
.ride-process-area .process-three .process-icon i {
    background: linear-gradient(180deg, #7c5cd0 0%, #8454fe 61%);
    border: 15px solid #e9e3f9;
}
.ride-process-area .process-four {
    margin-top: 50px;
}
.ride-process-area .process-four .process-icon i {
    background: linear-gradient(180deg, #fe7800 0%, #ffb909 47%);
    border: 15px solid #ffe5d5;
}
/* Where To Go */
.ride-where-area {
    background-color: #f6f8ff;
    padding-bottom: 500px;
    position: relative;
}
.ride-where-area .where-shape img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.ride-where-area .ride-section-title h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 51px;
    color: #1a1a1a;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}
.ride-where-area .ride-section-title h2 span{
    color: #fa4915;
}
.ride-where-area .where-item {
    text-align: center;
}
.ride-where-area .where-item ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    position: relative;
}
.ride-where-area .where-item ul:before {
    position: absolute;
    content: '';
    max-width: 473px;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2e2e2;
}
.ride-where-area .where-item ul li:first-child {
    margin-left: 0;
}
.ride-where-area .where-item ul li {
    list-style-type: none;
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}
.ride-where-area .where-item .nav-pills .nav-link-default.active, .ride-where-area .where-item .nav-pills .show > .nav-link-default {
    color: #fff;
    background-color: transparent;
    border-bottom: 1px solid #f24411;
    z-index: 2;
    position: relative;
}
.ride-where-area .where-item ul li .nav-link-default {
    border-radius: 0;
    padding: 0;
    padding-bottom: 6px;
    border-bottom: 1px solid transparent;
}
.where-item ul li .nav-link-default i {
    display: inline-block;
    font-size: 50px;
    color: #4b4b4b;
}
.ride-where-area .where-item ul li .nav-link-default span {
    display: inline-block;
    font-size: 14px;
    color: #262424;
    padding-left: 5px;
    position: relative;
    top: -6px;
}
.tab-content>.active {
    display: block;
}
.fade {
    transition: opacity .15s linear;
}
.fade:not(.show) {
    opacity: 0;
}
.ride-where-area .where-item form {
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.ride-where-area .where-item form .where-form-wrap {
    background-color: #ffffff;
    margin-right: 190px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    -webkit-box-shadow: 0px 0px 35px 0px #dddddda1;
    box-shadow: 0px 0px 35px 0px #dddddda1;
}
.ride-where-area .where-item form .where-form-wrap .form-group {
    position: relative;
    margin-bottom: 0;
}

.ride-where-area .where-item form .where-form-wrap .form-group label {
    position: absolute;
    left: 0;
    top: 9px;
    color: #fb5722;
    font-size: 20px;
    margin-bottom: 0;
}
.ride-where-area .where-item form .where-form-wrap .form-group .form-control {
    height: 45px;
    border: 0;
    border-radius: 0;
    font-weight: 500;
    font-size: 14px;
    padding-left: 30px;
    border-right: 1px solid #e4e4e4;
}
.ride-where-area .where-item form .text-center {
    position: absolute;
    top: 0;
    right: 0;
}
.ride-where-area .where-item form .text-center .where-form-btn {
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    border: 1px solid #fb5520;
    border-radius: 3px;
    z-index: 1;
    padding: 20px 25px;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px 0px #fb552059;
}
.ride-where-area .where-item form .text-center .where-form-btn:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 3px;
    z-index: -1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: linear-gradient(180deg, #fa4612 0%, #fc6630 60%);
}
.ride-where-area .where-item form .text-center .where-form-btn i {
    display: inline-block;
    position: relative;
    top: 4px;
    left: 2px;
    font-size: 18px;
}
/* Partner */
.ride-patronize-area .ride-section-title .sub-title {
    color: #0fa426;
    background-color: #cfedd4;
}
.ride-patronize-area .ride-section-title h2 span {
    color: #0fa426;
}
.ride-patronize-area .ride-section-title h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 45px;
    color: #1a1a1a;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}
.ride-patronize-area .patronize-item {
    margin-bottom: 30px;
    text-align: center;
}
.ride-patronize-area .patronize-item a {
    display: block;
    max-width: 60px;
    margin-left: auto;
    margin-right: auto;
}
/* App */
.ride-app-area {
    position: relative;
}
.ride-app-area .app-shape img {
    position: absolute;
}
.ride-app-area .app-shape img:nth-child(1) {
    top: 0;
    right: 80px;
    -webkit-animation: ride-ani-six 12s infinite linear;
    animation: ride-ani-six 12s infinite linear;
}
.ride-app-area .app-shape img:nth-child(2) {
    right: 30px;
    bottom: 120px;
    -webkit-animation: host-ani-three 12s infinite linear;
    animation: host-ani-three 12s infinite linear;
}
.ride-app-area .app-item {
    margin-bottom: 30px;
}
.ride-app-area .app-item .ride-section-title {
    text-align: left;
    margin-bottom: 20px;
}
.ride-app-area .app-item .ride-section-title .sub-title {
    color: #8152f9;
    background-color: #e6dcfe;
}
.ride-app-area .app-item .ride-section-title h2 {
    font-size: 35px;
    margin-left: 0;
}
.ride-app-area .app-item .ride-section-title h2 span {
    color: #8152f9;
}
.ride-app-area .app-item p {
    margin-bottom: 30px;
}
.ride-app-area .app-item a {
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    border: 1px solid #8058e5;
    border-radius: 3px;
    z-index: 1;
    padding: 14px 25px 12px;
    -webkit-box-shadow: 0px 0px 20px 0px #8058e58c;
    box-shadow: 0px 0px 20px 0px #8058e58c;
}
.ride-app-area .app-item a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 3px;
    z-index: -1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: -webkit-gradient(linear, left top, left bottom, from(#7c5ccf), color-stop(49%, #8354fe));
    background: linear-gradient(180deg, #7c5ccf 0%, #8354fe 49%);
}
.ride-app-area .app-item a i {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 2px;
    font-size: 18px;
}
/* Pricing */
.ride-pricing-area .ride-section-title h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 50px;
    color: #1a1a1a;
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
}
.ride-pricing-area .ride-section-title h2 span {
    color: #fa4915;
}
.ride-pricing-area .pricing-item {
    margin-bottom: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px 0px #dddddd75;
    box-shadow: 0px 0px 20px 0px #dddddd75;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.ride-pricing-area .pricing-item .pricing-top {
    background: -webkit-gradient(linear, left top, left bottom, from(#f64e1d), color-stop(49%, #fb6632));
    background: linear-gradient(180deg, #f64e1d 0%, #fb6632 49%);
    padding-top: 50px;
    padding-bottom: 20px;
    position: relative;
    -webkit-box-shadow: 0px 0px 35px 0px #f7602f8c;
    box-shadow: 0px 0px 35px 0px #f7602f8c;
}
.ride-pricing-area .pricing-item .pricing-top .pricing-head {
    display: inline-block;
    color: #1a1a1a;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 0 30px 30px 0;
    padding: 12px 22px;
    position: absolute;
    top: -10px;
    left: -10px;
    -webkit-box-shadow: 0px 0px 20px 0px #dddddd75;
    box-shadow: 0px 0px 20px 0px #dddddd75;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.ride-pricing-area .pricing-item .pricing-top h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 5px;
}
.ride-pricing-area .pricing-item .pricing-top h3 i {
    display: inline-block;
    font-size: 25px;
    position: relative;
    top: -12px;
    right: 2px;
}
.ride-pricing-area .pricing-item .pricing-top h3 span {
    font-weight: 500;
    font-size: 25px;
}
.ride-pricing-area .pricing-item .pricing-top p {
    margin-bottom: 0;
    font-size: 14px;
    color: #ffe8e1;
}
.ride-pricing-area .pricing-item .pricing-bottom {
    padding: 25px 30px 35px;
}
.ride-pricing-area .pricing-item .pricing-bottom ul {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}
.ride-pricing-area .pricing-item .pricing-bottom ul li {
    list-style-type: none;
    display: block;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 12px;
}
.ride-pricing-area .pricing-item .pricing-bottom ul li i {
    display: inline-block;
    color: #fc642e;
    font-size: 23px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.ride-pricing-area .pricing-item .pricing-bottom a {
    color: #ffffff;
    background-color: #1a1a1a;
    padding: 12px 24px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.6s;
}
.ride-pricing-area .pricing-two .pricing-top {
    -webkit-box-shadow: 0px 0px 35px 0px #7cd05f73;
    box-shadow: 0px 0px 35px 0px #7cd05f73;
    background: -webkit-gradient(linear, left top, left bottom, from(#0aa224), color-stop(72%, #84d464));
    background: linear-gradient(180deg, #0aa224 0%, #84d464 72%);
}
.ride-pricing-area .pricing-three .pricing-top {
    -webkit-box-shadow: 0px 0px 35px 0px #8057ea94;
    box-shadow: 0px 0px 35px 0px #8057ea94;
    background: -webkit-gradient(linear, left top, left bottom, from(#7c5bd1), color-stop(72%, #8354fc));
    background: linear-gradient(180deg, #7c5bd1 0%, #8354fc 72%);
}
.ride-pricing-area .pricing-item:hover {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
}
.ride-pricing-area .pricing-item .pricing-bottom a:hover {
    background-color: #fc642e;
}
.ride-pricing-area .pricing-two .pricing-bottom a:hover {
    background-color: #12a429;
}
.ride-pricing-area .pricing-three .pricing-bottom a:hover {
    background-color: #8058e5;
}
/* FAQ */
.accordion-item{
	margin-bottom: 10px !important;
	background-color: #f5f7fa !important;
}
.accordion-button{
	font-size: 20px;
	font-weight: 600;
	color: #242f51;
	border: none;
}
.accordion-button:not(.collapsed) {
     color: #333 !important; 
     background-color: #f5f7fa !important;
}
.accordion-button:focus {
    z-index: 3;
    border:none;
    outline: 0 !important;
    box-shadow: 0 0 0 0 #f5f7fa ;
 }
 .accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
 .accordion-body {
 	font-size: 16px;
 	font-weight: 400;
 	color: #616368 !important;
    text-align: left;
    padding: 1rem 1.25rem;
}
.accordion-collapse {
    border: none;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(../img/remove.png); 
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../img/remove.png);
    transform: rotate(180deg);
}
/* User Area */
.ride-user-area {
    padding-top: 75px;
}
.ride-user-area .user-item {
    max-width: 445px;
}
.ride-user-area .user-item h2 {
    color: #1a1a1a;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.ride-user-area .user-item h2 span {
    color: #f55422;
}
.ride-user-area .user-item p {
    margin-bottom: 15px;
}
/* .ride-user-area .owl-theme .owl-dots, .owl-theme .owl-nav{
	display: none !important;
}
.ride-user-area .owl-theme .owl-nav {
  display: block !important;
  position: absolute;
  right: 0;
}
.ride-user-area .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  background: 0 0;
  border: none;
  padding: 0!important;
  font-size: 35px;
}
.ride-user-area .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot span{
width: 40px;
  background: #F7F8F0 !important;
  height: 40px;
  line-height: 40px;
} */

/* Blog Area */
.ride-blog-area {
    background-color: #f6f8ff;
}
.ride-blog-area .ride-section-title {
    text-align: left;
}
.ride-blog-area .ride-section-title .sub-title {
    color: #8152f9;
    background-color: #e5dcfd;
}
.ride-blog-area .ride-section-title h2 {
    margin-left: 0;
}
.ride-blog-area .ride-section-title h2 span {
    color: #8152f9;
}
.ride-blog-area .blog-item {
    margin-bottom: 30px;
    position: relative;
    background-color: #ffffff;
}
.ride-blog-area .blog-item .blog-inner {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 280px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ride-blog-area .blog-item .blog-inner .blog-top {
    padding-bottom: 13px;
    border-bottom: 1px solid #e6e6e6;
}
.ride-blog-area .blog-item .blog-inner .blog-top span {
    display: inline-block;
    color: #8152f9;
    background-color: #e6dcfe;
    padding: 8px 14px;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 13px;
}
.ride-blog-area .blog-item .blog-inner .blog-top p {
    margin-bottom: 8px;
    color: #525252;
    font-size: 13px;
}
.ride-blog-area .blog-item .blog-inner .blog-top h3 {
    margin-bottom: 0;
}
.ride-blog-area .blog-item .blog-inner .blog-top h3 a {
    font-weight: 600;
    color: #262424;
    font-size: 17px;
    display: block;
    line-height: 1.5;
}
.ride-blog-area .blog-item .blog-inner .blog-bottom ul {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.ride-blog-area .blog-item .blog-inner .blog-bottom ul li {
    list-style-type: none;
    display: inline-block;
}
.ride-blog-area .blog-item .blog-inner .blog-bottom ul li img {
    margin-right: 5px;
}
.ride-blog-area .blog-btn {
    text-align: right;
    margin-top: 20px;
}
.ride-blog-area .blog-btn a {
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    border: 1px solid #8058e5;
    border-radius: 3px;
    z-index: 1;
    padding: 16px 25px;
    -webkit-box-shadow: 0px 0px 20px 0px #8058e58c;
    box-shadow: 0px 0px 20px 0px #8058e58c;
    text-transform: uppercase;
}
.ride-blog-area .blog-btn a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 3px;
    z-index: -1;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: -webkit-gradient(linear, left top, left bottom, from(#7c5ccf), color-stop(49%, #8354fe));
    background: linear-gradient(180deg, #7c5ccf 0%, #8354fe 49%);
}
.ride-blog-area .blog-btn a i {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 2px;
    font-size: 18px;
}

  /* Responsive */
@media only screen and (max-width: 600px) {
    .pt-100 {
        padding-top: 50px;
    }
    header{
      padding: 0;
    }
    .right-btn{
      display:none !important;
    }
    .hero-title h1 {
        font-size: 29px;
        margin-bottom: 28px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .hero-search form{
        display: block;
    }
    .hero-search input {
        width: 250px;
        margin-left: 17px;
        margin-bottom: 10px;
    }
    .hero-search button{
        width: 250px;
        margin-left: 17px;
        padding-bottom: 10px;
    }
    .hero-search button:hover{
        background: linear-gradient(270deg, #1a1a1a 0%, #1a1a1a 62%);
        color: #fff
    }
    /* download */
    .ride-download-area .download-content {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .ride-section-title .sub-title {
        font-size: 12px;
        padding: 10px 22px;
        margin-bottom: 10px;
    }
    .ride-download-area .download-item .ride-section-title {
        text-align: center;
    }
    .ride-download-area .download-item .ride-section-title h2 {
        font-size: 25px;
    }
    .ride-download-area .download-item p {
        margin-bottom: 20px;
    }
    .ride-download-area .download-img img:nth-child(1) {
        display: none;
    }
    .ride-download-area .download-img {
        background-image: unset;
        text-align: center;
    }
    .ride-download-area .download-img img:nth-child(2) {
        left: 0;
        top: 0;
        position: relative;
    }
    /* Process */
    .ride-process-area {
        position: relative;
    }
    .ride-section-title {
        margin-bottom: 30px;
    }
    .ride-section-title .sub-title {
        font-size: 12px;
        padding: 10px 22px;
        margin-bottom: 10px;
    }
    .ride-section-title h2 {
        font-size: 25px;
    }
    .ride-process-area .process-img {
        display: none;
    }
    .ride-process-area .process-item span {
        font-size: 50px;
    }
    .ride-process-area .process-item p {
        font-size: 18px;
    }
    .ride-process-area .process-two {
        margin-top: 0;
    }
    .ride-process-area .process-item p {
        font-size: 18px;
    }
    /* Where to go */
    .ride-where-area {
        padding-bottom: 130px;
    }
    .ride-where-area .ride-section-title h2 {
        font-size: 25px;
    }
    .ride-where-area .where-item ul {
        margin-bottom: 10px;
    }
    .ride-where-area .where-item ul li {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .ride-where-area .where-item ul li .nav-link-default span {
        top: -4px;
    }
    .ride-where-area .where-item form .where-form-wrap {
        margin-right: 0;
        margin-left: 0;
    }
    .ride-where-area .where-item form .where-form-wrap .form-group .form-control {
        border-right: 0;
    }
    .ride-where-area .where-item form .text-center {
        position: relative;
    }
    /* blog */
    .ride-blog-area .ride-section-title {
        margin-bottom: 15px;
        text-align: center;
    }
    .ride-blog-area .blog-item .blog-img img {
        width: 100%;
    }
    .ride-blog-area .blog-item .blog-inner {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
    .ride-blog-area .blog-btn {
        text-align: center;
        margin-top: 0;
    }
    /* Register */
    .ride-register-area .register-item {
        padding: 35px 35px 120px;
    }
    /* Subscribe */
    .ride-subscribe-area {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .ride-subscribe-area .subscribe-shape {
        text-align: center;
    }
    .ride-subscribe-area .subscribe-shape img:nth-child(1) {
        display: none;
    }
    .ride-subscribe-area .subscribe-shape img:nth-child(2) {
        left: 0;
        right: 0;
        position: relative;
        margin-bottom: 30px;
    }
    .ride-subscribe-area .subscribe-item h2 {
        font-size: 25px;
    }
    .ride-subscribe-area .subscribe-item .newsletter-form {
        padding-right: 0;
    }
    .ride-subscribe-area .subscribe-item .newsletter-form .newsletter-btn {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    .host-footer-area .footer-item .footer-address h3 {
        margin-bottom: 20px;
    }
    .ride-copyright-area .copyright-item p {
        text-align: center;
        margin-bottom: 15px;
    }
    .ride-copyright-area .copyright-item ul {
        text-align: center;
    }
  }